:root {
  /* Primary */
  --cp: 41 98% 76%;
  --cpf: 41 94% 52%;
  --cpc: 30 44% 4%;

  /* Secondary */
  --cs: 8 91% 66%;
  --csf: 8 91% 52%;
  --csc: 8 91% 4%;

  /* Accent */
  --ca: 181 88% 31%;
  --caf: 181 88% 21%;
  --cac: 181 88% 98%;

  /* Neutral */
  --cn: 0 0% 9%;
  --cnf: 0 0% 15%;
  --cnc: 0 0% 98%;

  /* Base */
  --cbl1: 30 44% 96%;
  --cbl2: 30 44% 96%;
  --cbl3: 30 44% 96%;

  --cbd1: 30 44% 4%;
  --cbd2: 30 44% 4%;
  --cbd3: 30 44% 4%;

  /* Text */
  --ctl1: 30 44% 4%;
  --ctl2: 30 44% 4%;
  --ctl3: 30 44% 4%;

  --ctd1: 30 44% 96%;
  --ctd2: 30 44% 96%;
  --ctd3: 30 44% 96%;
}
