@layer components {
  .btn {
    border-width: 2px;
    border-radius: theme("borderRadius.full");
    font-weight: theme("fontWeight.semibold");
  }

  .btn,
  .btn-md {
    height: theme("spacing.11");
    min-height: theme("spacing.11");
  }
}
